<!DOCTYPE html>
<html>
  <head>
    <title>TestAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'toastr_rails/flash' %>
      <%= render partial: 'layouts/topnav' unless controller_name == "teams" && action_name == "edit_password" %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
